<div class="container">
  <header>
    <a href="/">
      <h1>URL Shortener</h1>
    </a>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
  </header>
  <main>
    <form action="/" method="post">
      <div class="form-group">
        <input type="text" name="url_name" class="form-control" placeholder="Input URL here">
        <button type="submit">Shorten</button>
      </div>
    </form>
  </main>
</div>