<div class="container">
  <header>
    <a href="/">
      <h1>URL Shortener</h1>
    </a>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
  </header>
  <main>
    <h2>Success! Please use this link:</h2>
    <a href="//{{inputUrl}}" target="_blank">{{shortenedUrl}}</a>
  </main>
</div>